<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.marcusjakobsson.aha">

    <!-- Försöker tillåta användning av diverse uppkopplingstjänster -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor">
        <!--TODO: Göra en back-up på vårt konto eller på användarens?-->
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InstructionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WakeUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SleepActivity"
            android:label="@string/title_activity_sleep"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SummaryActivity"
            android:label="@string/title_activity_summary"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FinalActivity"
            android:label="@string/title_activity_final"
            android:showOnLockScreen="true"
            android:screenOrientation="portrait"/>

        <receiver android:name=".AlarmReceiver">
            <intent-filter>
                <action android:name="com.marcusjakobsson.aha" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".AlertActivity"
            android:label="@string/title_activity_alert"
            android:showOnLockScreen="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".WaitActivity"
            android:label="@string/title_activity_wait"
            android:screenOrientation="portrait"/>
    </application>

</manifest>